html {
    overflow-x: hidden;
    font-family: "游ゴシック", "YuGothic", "メイリオ", meiryo, sans-serif;
    font-size: 16px;
}
body {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width:500px) {
    body {
        width: 300px;
    }
}
h1 {
    font-size: 2.25rem;
}
@media screen and (max-width:500px) {
    h1 {
        font-size: 1.5rem;
    }
}
.block-title {
    width: 100%;
    height: 150px;
    position: relative;
}
@media screen and (max-width:500px) {
    .block-title {
        height: 60px;
    }
}
#title_img {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../img/title.jpg);
    position: absolute;
    z-index: 1;
}
@media screen and (max-width:500px) {
    #title_img {
        background: url(../img/title_sm.jpg);
    }
}
#title_grd {
    top: 0;
    left: 0;
    background: radial-gradient(rgb(161, 145, 99), #fff);
    position: absolute;
    opacity: .6;
    z-index: 2;
}
#index_title {
    line-height: 200px;
    padding-left: 16rem;
    text-align: left;
    color: #00f;
    font-size: 2.25rem;
    position: absolute;
    z-index: 3;
}
@media screen and (max-width:500px) {
    #index_title {
        line-height: 60px;
        padding-left: 5rem;
        font-size: 1.5rem;
    }
}
.block-intro {
    width: 100%;
    height: 7rem;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width:500px) {
    .block-intro {
        height: 10rem;
        margin-bottom: 1rem;
    }
}
.tabs {
    margin-left: -2rem;
}
.tabs li {
    border: 2px solid #888;
    border-bottom-color: transparent;
    list-style: none;
    display: inline-block;
    padding:5px 5px 0px 5px;
    background: #888;
    color: #fff;
    cursor: pointer;
    font-size: 80%;
}
.tabs li.active {
    background: #fff;
    font-weight: bold;
    color: #000;
}
.contents {
    width: 100%;
    border-top: 2px solid #888;
    margin-top: -18px;
}
.contents div {
    display: none;
}
.contents div.active {
    display: block;
}
.cont-list {
    width: 100%;
    padding: 10px;
    cursor: pointer;
}