body {
    width: 100%;
    font-family: "游ゴシック", "YuGothic", "メイリオ", meiryo, sans-serif;
}
@media screen and (min-width:500px) {
    .block-title {
        width: 1000px;
        height: 150px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }
}
@media screen and (max-width:500px) {
    .block-title {
        width: 800px;
        height: 150px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }
}
#title_img {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../img/title.jpg);
    position: absolute;
    z-index: 1;
}
#title_grd {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: radial-gradient(#000, #fff);
    position: absolute;
    opacity: .6;
    z-index: 2;
}
#index_title {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    line-height: 200px;
    padding-left: 16rem;
    text-align: left;
    color: #00f;
    font-size: 30pt;
    position: absolute;
    z-index: 3;
}
@media screen and (min-width:500px) {
    .block-intro {
        width: 1000px;
        height: 80px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (max-width:500px) {
    .block-intro {
        width: 800px;
        height: 80px;
        margin-left: auto;
        margin-right: auto;
    }
}
#index_intro {
    width: 100%;
    height: 100%;
    text-align: center;
    margin-bottom: 2em;
}
@media screen and (min-width:500px) {
    .block-tab {
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (max-width:500px) {
    .block-tab {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
}
ul tabs {
    margin: 0;
}
.tabs li {
    border: 1px solid #888;
    border-bottom-color: transparent;
    list-style: none;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    font-size: large;
    background: #888;
    color: #fff;
    cursor: pointer;
}
.tabs li.active {
    background: #fff;
    font-weight: bold;
    color: #000;
}
.contents {
    width: 100%;
    border-top: 1px solid #888;
    padding: 15px;
    margin-top: -17px;
    overflow: hidden;
}
.contents div {
    display: none;
}
.contents div.active {
    display: block;
}
.cont-list {
    width: 100%;
    cursor: pointer;
}