@media screen and (min-width:500px) {
    body {
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
        font-family: "游ゴシック", "YuGothic", "メイリオ", meiryo, sans-serif;
    }
    .block_title {
        width: 100%;
        height: 50px;
        position: relative;
    }
    #sql_title {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        text-align: center;
        background-color: yellowgreen;
        border-bottom: double 4px green;
    }
    .block_intro {
        width: 100%;
        height: 150px;
        margin-left: auto;
        margin-right: auto;
    }
    #sql_subtitle {
        width: 100%;
        text-align: center;
        margin-bottom: 1em;
    }
    .description {
        width: 100%;
        font-size: 1rem;
        margin-top: -10px;
        margin-bottom: 1em;
        line-height: 2em;
    }
    .block_table {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .block_table h4 {
        width: 100%;
        line-height: 3rem;
        text-align: left;
    }
    .table_name {
        width: 100%;
        text-align: center;
    }
    table {
        width: 100%;
        border-collapse: collapse;
    }
    table th, table td {
        width: 200px;
        border: solid 2px black;
        text-align: right;
        padding: auto;
    }
    table th {
        background-color: lightblue;
    }
    .block_code {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        font-family: "MS Gothic";
    }
    ol.code {
        position: relative;
        margin-left: 0px;
        padding: 10px 20px 10px 45px;
        border: none;
        background: #2F3437;
    }
    ol.code li {
        padding-left: 15px;
        border-left: 1.5px solid #000;
        color: #fff;
    }
    .code_bl {
        color: #2ef;
    }
    .code_gr {
        color: #8f8;
    }
    .code_rd {
        color: #f9f;
    }
    .code_or {
        color: #fa2;
    }
    .block_return {
        width: 100%;
        height: 30px;
        margin-left: auto;
        margin-right: auto;
    }
    #sql_return {
        width: 100%;
        text-align: left;
        padding-top: 3em;
        font-size: small;
    }
}
@media screen and (max-width:500px) {
    body {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        font-family: "游ゴシック", "YuGothic", "メイリオ", meiryo, sans-serif;
    }
    .block_title {
        width: 100%;
        height: 30px;
        position: relative;
    }
    #sql_title {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        text-align: center;
        font-size: small;
        background-color: yellowgreen;
        border-bottom: double 2px green;
    }
    .block_intro {
        width: 100%;
        height: 130px;
        font-size: x-small;
        margin-top: 25px;
        margin-left: auto;
        margin-right: auto;
    }
    #sql_subtitle {
        width: 100%;
        text-align: left;
        font-size: small;
        margin-bottom: 2em;
    }
    .description {
        width: 100%;
        font-size: x-small;
        margin-top: -12px;
        margin-bottom: 2em;
        line-height: 1em;
    }
    .block_table {
        width: 100%;
        font-size: xx-small;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    .block_table h4 {
        width: 100%;
        line-height: 1rem;
        text-align: left;
    }
    .table_name {
        width: 100%;
        text-align: center;
    }
    table {
        width: 100%;
        border-collapse: collapse;
    }
    table th, table td {
        width: 75px;
        border: solid 1px black;
        font-size: xx-small;
        text-align: right;
        padding: auto;
    }
    table th {
        background-color: lightblue;
    }
    .block_code {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        font-family: "MS Gothic";
        font-size: 60%;
    }
    ol.code {
        position: relative;
        font-size: xx-small;
        margin-left: 0px;
        padding: 3px 6px 3px 25px;
        border: none;
        background: #2F3437;
    }
    ol.code li {
        font-size: xx-small;
        padding-left: 10px;
        border-left: 1px solid #000;
        color: #fff;
    }
    .code_bl {
        color: #2ef;
    }
    .code_gr {
        color: #8f8;
    }
    .code_rd {
        color: #f9f;
    }
    .code_or {
        color: #fa2;
    }
    .block_return {
        width: 100%;
        height: 30px;
        margin-left: auto;
        margin-right: auto;
    }
    #sql_return {
        width: 100%;
        text-align: left;
        padding-top: 3em;
        font-size: small;
    }
}